doctype html5

block level
- var prefix = ""
- if (typeof level === "number") {
-   for (var i = 0; i < level; i++) {
-     prefix += "../" }}

head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="shortcut icon" href=prefix + "favicon.ico")
  link(href=prefix + "styles.css" rel="stylesheet")
  link(href=prefix + "lib/codemirror-5.0/codemirror.css" rel="stylesheet")
  link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en" rel="stylesheet")
  block head

body
  article.no-select
    header.mast-head(id="navigation")
      a(href="/index.html" alt="Navigate home")
        img.header-img(src=prefix + "images/header.png")
        br
        //-img.icon(src=prefix + "images/about/cole-lawrence-square-2014-05-30.jpg")
        br
        br
    section.page-content#swap-page-buffer
    section.page-content#swap-page
      block body
  br
  br
  br
  footer
    script(src=prefix + "bundle.js")
    script(src=prefix + "lib/codemirror-5.0/codemirror-runmode-standalone-compressed.js")
    script(src=prefix + "lib/codemirror-5.0/codemirror-modes-compressed.js")
    script.
      var highlightCodeBlock = function (element) {
        var code = element.innerText
        element.innerHTML = ""
        CodeMirror.runMode(code, element.dataset.type, element)
      }

      this.onSwapLoad = function () {
        var codeBlocks = document.querySelectorAll("pre.code")
        for (var i = 0; i < codeBlocks.length; i++)
          highlightCodeBlock(codeBlocks[i])
      }
      this.onSwapLoad()
    block footer
