doctype html5

block level
- var prefix = ""
- if (typeof level === "number") {
-   for (var i = 0; i < level; i++) {
-     prefix += "../" }}

head
  meta(name="viewport" content="width=device-width, initial-scale=1")
  style img { cursor: pointer }
  link(href=prefix + "css/site.css" rel="stylesheet")
  block head


body
  article
    header.mast-head
      a(href=prefix + "index.html" title="home page")
        h1 Cole Lawrence
        img(src=prefix + "images/about/cole-lawrence-square-2014-05-30.jpg")
      nav
        a(href=prefix + "animations.html") Animations
        | &nbsp; - &nbsp;
        a(href=prefix + "software.html") Software
        | &nbsp; - &nbsp;
        a(href=prefix + "graphics.html") Graphics
      br
    section.page-content
      block body
  br
  br
  br

footer
  script.
    (function(){
      var onClickOpenImage = function (event) {
        window.open(event.target.src, "_self")
      }
      var imgs = document.getElementsByTagName("img")
      for (var i = 0; i < imgs.length; i++)
        imgs[i].addEventListener("click", onClickOpenImage)
    })();