doctype html5

block level
- var prefix = ""
- if (typeof level === "number") {
-   for (var i = 0; i < level; i++) {
-     prefix += "../" }}

head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="shortcut icon" href=prefix + "favicon.ico")
  link(href=prefix + "css/site.css" rel="stylesheet")
  link(href=prefix + "lib/codemirror-5.0/codemirror.css" rel="stylesheet")
  link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en" rel="stylesheet")
  block head

body
  article
    header.mast-head(id="navigation")
      h1 Cole Lawrence
      a(href=prefix + "index.html" title="Cole Lawrence's front page")
        img.icon(src=prefix + "images/about/cole-lawrence-square-2014-05-30.jpg")
      br
      br
      .navigation-menu
        a.navigation-toggle.btn(href="#" data-t="#navigation" onclick="var tmp=this.href; this.href=this.dataset.t;this.dataset.t=tmp;")
          .navigation-icon
            span
            span
            span
        .nav-links#nav-links
          nav
            ul
              li: strong NAVIGATION
              li: a(href=prefix + "index.html") about
              li: a(href=prefix + "project/animation/index.html") animations
              li: a(href=prefix + "project/graphic-design/index.html") graphic designs
              li: a(href=prefix + "project/software/index.html") software
              li: a(href=prefix + "code.html") code snippets
      br
    section.page-content#page-content
      block body
  br
  br
  br
  footer
    script(src=prefix + "scripts/site.js")
    script(src=prefix + "lib/modernizr-2.8.3/no-touch.js")
    block footer
