doctype html5

block level
- var prefix = ""
- if (typeof level === "number") {
-   for (var i = 0; i < level; i++) {
-     prefix += "../" }}

head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  //-style img { cursor: pointer }
  link(rel="shortcut icon" href=prefix + "favicon.ico")
  link(href=prefix + "css/site.css" rel="stylesheet")
  block head

body
  article
    header.mast-head(id="navigation")
      h1 Cole Lawrence
      a(href=prefix + "index.html" title="Cole Lawrence's front page")
        img(src=prefix + "images/about/cole-lawrence-square-2014-05-30.jpg")
      br
      br
      a(href="#" data-t="#navigation" onclick="var tmp=this.href; this.href=this.dataset.t;this.dataset.t=tmp;")
        | Navigation
      nav
        ul
          li: a(href=prefix + "index.html") home
          li: a(href=prefix + "animations.html") animations
          li: a(href=prefix + "graphic-design.html") graphic designs
          li: a(href=prefix + "software.html") software
          li: a(href=prefix + "code.html") code snippets.
      br
      br
    section.page-content
      block body
  br
  br
  br
  footer
    //-nav
      | Cole Lawrence's portfolio of&nbsp;
      a(href=prefix + "animations.html") animations
      | ,&nbsp;
      a(href=prefix + "graphic-design.html") graphic designs
      | ,&nbsp;
      a(href=prefix + "software.html") software
      | , and&nbsp;
      a(href=prefix + "code.html") code snippets.
    br
    br
    //-script.
      (function(){
        var onClickOpenImage = function (event) {
          window.open(event.target.src, "_self")
        }
        var imgs = document.getElementsByTagName("img")
        for (var i = 0; i < imgs.length; i++)
          imgs[i].addEventListener("click", onClickOpenImage)
      })();
    block footer