extend ../layout.extend

block level
  - var level = 2

mixin projectnav(slug)
  - var projectsOfCategory = projects[category.slug]
  - var prevPost, nextPost;
  - var lastIndex = projectsOfCategory.length-1;
  - projectsOfCategory.forEach(function (project, index) {
    -if(project.slug == slug) {
    -   prevPost=projectsOfCategory[index==0?lastIndex:index-1]
    -   nextPost=projectsOfCategory[index==lastIndex?0:index+1]
    -   return false;
    -}
  - });
  table.nav-near.no-select
    tr
      td: a(href=prevPost.slug + ".html" title=prevPost.name)
        img.icon(src=prefix + "css/arrow-left-alt-2.png" style="background-image:url(#{prefix}thumb/#{prevPost.img});")
      td
      td: a(href=nextPost.slug + ".html" title=nextPost.name)
        img.icon(src=prefix + "css/arrow-right-alt-2.png" style="background-image:url(#{prefix}thumb/#{nextPost.img});")

block head
  block head-title

block body
  section
    a.index-link(href="/#" + category.slug): h3="< " + category.name
    .post-body
      block post-body
    br
    br
    br
    - var slug = filename.match(/([^\/\\]+)\.jade$/)[1]
    +projectnav(slug, category.slug)